/* 三大基础部分 */
.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 80px;
    align-items: center;
    position: fixed;
    z-index: 1000;
    top: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #333;
    transform: translateY(0);
    transition: transform 0.3s ease; /* 动画过渡效果 */
}
.header.hidden {
    transform: translateY(-100%); /* 隐藏 Header */
}

.conten {
    display: grid;
    margin-top: 100px;
    height: 3000px;
}

.footer {
    background: cornsilk;
}

/* header */
.header a {
    display: block;
    width: 100%;
    height: 100%;
}

.header-logo {
    width: 150px;
    height: 60px;
    margin-left: 30px;
    background: transparent url("../images/logo.png") no-repeat center;
    background-size: contain;
    font-size: 0;
}

.header-nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 5%;
    align-items: end;
    margin-right: 60px;
}
.header-nav li {
    display: inline-block;
    width: 100px;
    height: 50px;
}
.header-nav a {
    text-align: center;
    line-height: 50px;
    background: cornsilk;
    color: black;
    border: 0;
    border-radius: 15px;
}
.header-nav a:hover {
    background-color: aquamarine;
    color: white;
}

/* conten */

/* footer */
.footer-copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}


/* 返回顶部按钮 */
.back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 18px;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
}
.back-to-top.show {
    visibility: visible;
    opacity: 1;
}